body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.personalinfo {
  padding: 1rem 2rem 1rem 2rem;
}

.personalinfo-box {
  border: 2px solid rgba(0,0,0,.125);
  border-radius: .5rem;
  line-height: 1.5;
  margin: 0 2rem 2rem 0;
  padding: 0.5rem 1rem 0.5rem 1rem;
  width: 40%;
  float: left;
}

.personalinfo-box img {
  border-radius: 50%;
  margin: 1rem 2rem 0 1rem;
  max-height: 8rem;
  width: auto;
  float: left;
}

.personalinfo-box a:link {
  color: black;
  text-decoration: none ;
}

.personalinfo-box a:hover {
  color: blue;
}
